<div class="posts container h-100 w-100 justify-content-center home">
    <a id="topic" href="/homepage/{{id}}">
        <p>{{topic}} </p>
        <p class="author">by {{ username }} </p>
        <p class="publishDate">on {{format_date createdAt}}</p>
        <p>{{ excerpt }}</p>
    </a>
</div>