<div class="container h-100 w-100 justify-content-center">
    <div class="posts container h-100 w-100 justify-content-center">

        <span id="headline">On the topic of {{blogData.topic}} by <strong>{{blogUserName}}</strong> on {{format_date
            blogData.createdAt}}</spam><br>
            <span>{{blogData.content}}</spam>

    </div><br>
    {{#each comments}}
    <div class=" posts container h-100 w-100 justify-content-center">
        <span><strong>{{this.user.username}}</strong> on {{format_date this.createdAt}}</span>
        <p>{{this.comment_content}}</p>
    </div>
    {{/each}}
    <form>
        <label class="textArea-label" for="commentText">
            Your comment
        </label>
        <br>
        <textarea class="comment-textarea" name="commentText" rows="5" cols="30">{{commentText}}</textarea>
    </form>

    <button class="add-comment btn btn-primary">Add comment</button>
    <button class="save-comment btn btn-primary">Save comment</button>
</div>

<script src="/js/comment.js"></script>